<div class="panel panel-default tweet"  *ngFor="let tweet of tweets, let i = index">
    <div class="panel-heading">
        <img class="profile-picture-tweet" src="app/assets/{{tweets[i].userName}}.png"/>
        <h3 class="panel-title">{{tweets[i].userName}}</h3>
    </div>

    <div class="panel-body">
        {{tweets[i].tweet}}   
        <span   class="{{starStatus}}" 
                aria-hidden="true" 
                #star
                (click)="handleFavorite(i, star)">
        </span>
                                        
        <div class="panel panel-default" *ngFor="let comment of tweets[i].comments, let j = index">
            <div class="panel-heading">
                <img class="profile-picture-comment" src="app/assets/{{tweets[i].comments[j].userName}}.png"/>
                <h5 class="panel-title">{{tweets[i].comments[j].userName}}</h5>
            </div>
            <div class="panel-body">
                <h6>{{tweets[i].comments[j].commentText}}</h6>
            </div>
        </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Comment..." #commentInput (keyup.enter)="addComment(commentInput, i)"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="addComment(commentInput, i)">Comment</button>
                    </span>
                </div>
            </div>
        </div>
    </div>