<div class="row auto-margins">
    <div class="col-sm-4 offset-sm-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Log in</h4>
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right right-buffer">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>