<navbar></navbar>
<div class="row auto-margins">
    <div class="col-sm-2 offset-sm-1 right-buffer">
        <div class="card">
            <img class="card-img-top offset-sm-3 top-buffer" src="app/assets/user.png" width="120" height="120">
            <div class="card-block">
                <h4 class="card-title">Name Lastname</h4>
                <p class="card-text">@username</p>
            </div>
            <div class="row text-sm-center">
                <div class="col-sm-4 offset-sm-2">
                    TWEETS
                    <h5>1</h5>
                </div> 
                <div class="col-sm-4">
                    LIKES
                    <h5>1</h5>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <img class="col-sm-1 offset-sm-1" src="app/assets/user.png" width="35" height="35">
            <div class="col-sm-9"> <input type="text" class="form-control" placeholder="What's happening?"> </div>
        </div>
        <div class="top-buffer"><tweet></tweet></div>
    </div>
</div>