<div class="row auto-margins">
    <div class="col-sm-4 offset-sm-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Register</h4>
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Photo</label>
                        <label class="custom-file" lang="en">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control"></span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right right-buffer">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>