<nav class="navbar navbar-light bg-faded">
    <div class="row">
        <div class="col-sm-11">
            <a class="navbar-brand" href="">
                <img src="app/assets/twitter.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Twitter
            </a>

            <form class="form-inline pull-right">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-outline-success"><i class="fa fa-search"></i></button>
            </form>

        </div>
        <div class="col-sm-1 link-cursor">
            <div ngbDropdown>
                <div ngbDropdownToggle>
                    <img src="app/assets/user.png" width="40" height="40" alt="">
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item no-link-cursor">Name Lastname</div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="profile">View profile</a>
                    <a class="dropdown-item" href="edit-profile">Edit profile</a>
                    <a class="dropdown-item">Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>