.vcenter {
    vertical-align: middle;
}

.right-buffer{
    margin-right: 20px;
}

.auto-margins{
    margin: 2rem auto;
}

.top-buffer{
    margin-top: 15px;
}

.link-cursor
{
    cursor: pointer;
}